@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-accent: #ccff00;
  --shadow-hard: 4px 4px 0px 0px #000000;
  --border-thick: 2px solid #000000;

  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

/* 
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-body);
  line-height: 1.5;
  min-height: 100vh;
}