@import "tailwindcss";

:root {
  --color-bg: #f4f4f0;
  --color-fg: #000000;
  --color-accent: #ccff00;
  --shadow-hard: 4px 4px 0px 0px #000000;
  --border-thick: 2px solid #000000;

  --font-body: 'Inter', sans-serif;
  --font-mono: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--font-body);
  line-height: 1.5;
  min-height: 100vh;
  position: relative;
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 20px 20px;
}


body>* {
  position: relative;
  z-index: 1;
}